<tr><td>dataPathDescription: </td><td><%= datapathDescription %></td></tr>
<tr><td>hardwareDescription: </td><td><%= hardwareDescription %></td></tr>
<tr><td>manufacturerDescription: </td><td><%= manufacturerDescription %></td></tr>
<tr><td>softwareDescription: </td><td><%= softwareDescription %></td></tr>
<tr><td>serialNumber: </td><td><%= serialNumber %></td></tr>
<tr><td>flowCount: </td><td><%= flowCount %></td></tr>
<tr><td>packetCount: </td><td><%= packetCount %></td></tr>
<tr><td>byteCount: </td><td><%= byteCount %></td></tr>
