	<div ng-controller="CntlFlows">
		<table class="horizontal_table center mark_2th_row" width="100%">
			<caption><span>Flow Records:</span><span type="links"></span></caption>
			<thead>
			<tr>
				<th>Cookie</th><th>Priority</th><th>Match</th><th>Action</th><th>Packets</th><th>Bytes</th><th>Age</th><th>Timeout</th>
			</tr>
			</thead>
		    <tbody template="switch_flows">
		    	<tr ng-if="flows.length==0"><td colspan="8">No flows</td></tr>
		    	<tr ng-if="flows.length>0" ng-repeat="flow in flows">
					<td width="10%">{{flow.cookie}}</td>
					<td width="5%">{{flow.priority}}</td>
					<td width="55%">{{flow.matchHTML}}</td>
					<td width="10%">{{flow.actionText}}</td>
					<td width="5%">{{flow.packetCount}}</td>
					<td width="5%">{{flow.byteCount}}</td>
					<td width="5%">{{flow.durationSeconds}}s</td>
					<td width="5%">{{flow.idleTimeout}}s</td>
				</tr>
		    </tbody>
	    </table>
	</div>

